---
title: Welcome to Middleman
---
<header class="header header_aligner">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="logo logo_aligner">
            <img src="../images/logo.png" alt="">
          </div>
        </div>
        <div class="col-lg-8">
          <div class="information information_aligner d-flex justify-content-center">
            <div class="information-block information-block_aligner d-flex justify-content-center">
              <div class="information__item"><i class="fas fa-align-justify"></i></div>
              <div class="information__text"><p>г. Краснодар <br> ул. Тургенева, 213</p></div>
            </div>
            <div class="information-block information-block_aligner d-flex justify-content-center">
              <div class="information__item"><i class="fas fa-align-justify"></i></div>
              <div class="information__text"><p>Пн-Пт 9:00 - 18:00 <br> Сб. 9:00 - 15:00</p></div>
            </div>
            <div class="information-block d-flex justify-content-center">
              <div class="information__item"><i class="fas fa-align-justify"></i></div>
              <div class="information__text"><p>8 (918) 281-80-81 <br> 8 (938) 888-18-38</p></div>
            </div>                    
          </div>
        </div>
        <div class="col-lg-2">
          <button class="button header_button">
            <p>Заказать звонок</p>
          </button>
        </div>
      </div>
    </div>
  </header>
  <section class="header-background header-background_margin ">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="header-title header-title_margin">Склад автозапчастей для иномарок Lacar</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p class="header-text"> Бесплатная доставка №1 в Краснодаре</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p class="header-text-desc">*Бесплатно при заказе от 1500 руб. <br> *150 руб. - при заказе до 1500 руб.</p>
        </div>                  
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-7" >
          <form method="post" action="#" class="form form_margin">
            <div class="form-group form-header">
              <label for="model"> Укажите список искомых запчастей и модель автомобиля</label>
              <input name="model" type="model" class="form-control form-header-input">
            </div>
            <div class="form-group form-header">
              <label for="addres">Укажите адрес доставки (если необходимо)</label>
              <input name="addres" type="addres" class="form-control form-header-input">
            </div>
            <div class="form-row">
              <div class="col form-header">
                <label for="name">Ваше имя</label>
                <input type="text" class="form-control form-header-input " id="name">
              </div>
              <div class="col form-header">
                <label for="number">Номер телефона</label>
                <input type="text" class="form-control form-header-input" id="number">
              </div>            
            </div>
            <button class="header-form-button header-form-button_margin">
              <p>Оставить заявку</p>
            </button>           
          </form>
        </div>
      </div>
    </div>
  </section>
